<template>
  <div>
    <transition-group name="fade-transition" class="todo-list">
      <todo-list-item v-for="item in todoList"
                      :todoItem="item"
                      :key="item.id" />
    </transition-group>

    <transition name="fade-transition">
      <h1 class="first-task-info--text first-task-info--center"
          v-if="todoList.length === 0">
        Add your first task!
      </h1>
    </transition>

  </div>
</template>

<script>
import TodoListItem from './TodoListItem/TodoListItem.vue';

export default {
  computed: {
    todoList() {
      return this.$store.state.todoList;
    },
  },
  components: {
    TodoListItem
  },
}
</script>

<style lang="scss" scoped>
.todo-list {
  display: block;
  width: 24rem;
  height: 32rem;
  margin: 1.5rem auto;
  overflow-y: auto;
}

.first-task-info {

  &--text {
    width: 100%;
    text-align: center;
    color: #B3B3B3;
    user-select: none;
  }

  &--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fade-transition {
  &-enter {
    opacity: 0 !important;

    &-active {
      transition: opacity 0.5s;
      opacity: 1;
    }
  }

  &-leave {
    &-active {
      transition: opacity 0.5s;
      opacity: 0;
      position: absolute;
    }
  }

  &-move {
    transition: transform 0.5s;
  }
}

</style>
