<template>
  <img class="todo-list-item__button"
       @click="deleteTask"
       src="../../../assets/letter-x.svg"
       alt="delete task">
</template>

<script>
export default {
  props: {
    todoItem: Object
  },
  methods: {
    deleteTask() {
      this.$store.commit('deleteTask', this.todoItem);
    },
  }
}
</script>

<style lang="scss" scoped>
.todo-list-item__button {
  display: inline-block;
  float: right;
  width: 0.75rem;
  padding: 0.625rem;
  border: none;
  border-radius: 50%;
  background: rgba(0,0,0,0);
}
</style>
