<template>
  <input class="todo-list-item__checkbox"
         type="checkbox"
         v-model="checkboxTick">
</template>

<script>
export default {
  props: {
    todoItem: Object
  },
  computed: {
    checkboxTick: {
      get() {
        return this.$store.getters.getTodoItem(this.todoItem.id).isDone;
      },
      set() {
        return this.$store.commit('checkTask', this.todoItem);
      },
    },
  }
}
</script>

<style lang="scss" scoped>
.todo-list-item__checkbox[type="checkbox"] {
  all: unset;
  display: inline-block;
  float: left;
  height: 1rem;
  width: 1rem;
  background-color: #DBDBDB;
  border-radius: 50%;
  margin: 0.5rem;
  transition: opacity 0.5s;

  &:checked {
    background-image: url("../../../assets/tick-symbol.svg");
    background-repeat: no-repeat;
    background-color: #B3B3B3;
  }
}
</style>
