<template>
  <div class="todo-list-item"
       :class="{ 'todo-list-item--done': todoItem.isDone }">
    <todo-list-item-checkbox :todoItem="todoItem" />
    <todo-list-item-text :todoItem="todoItem" />
    <todo-list-item-delete-button :todoItem="todoItem" />
    <todo-list-item-priority :todoItem="todoItem" />
  </div>
</template>

<script>
import TodoListItemCheckbox from './TodoListItemCheckbox.vue';
import TodoListItemText from './TodoListItemText.vue';
import TodoListItemPriority from './TodoListItemPriority.vue';
import TodoListItemDeleteButton from './TodoListItemDeleteButton.vue';

export default {
  props: {
    todoItem: Object
  },
  components: {
    TodoListItemCheckbox,
    TodoListItemText,
    TodoListItemPriority,
    TodoListItemDeleteButton
  }
};
</script>


<style lang="scss" scoped>
.todo-list-item {
  height: 2rem;
  width: 22rem;
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.25rem;
  background-color: #F2F2F2;
  transition: background-color 0.5s;

  &--done {
    background-color: #DBDBDB;
  }

  &:last-of-type {
    margin: 0 1rem
  }
}
</style>
