<template>
  <div class="todo-list-item__priority"
       :style="{'background-color': priorityColor}">
  </div>
</template>

<script>
export default {
  props: {
    todoItem: Object
  },
  data() {
    return {
      priorityColor: this.$store.state.priorities[this.todoItem.priority].color
    }
  }
}
</script>

<style lang="scss" scoped>
.todo-list-item__priority {
  display: inline-block;
  position: relative;
  float: right;
  bottom: 0.5rem;
  left: 1rem;
  height: 1rem;
  width: 1rem;
  border: none;
  border-radius: 50%;
  margin: 1rem 1rem;
  outline: none;
  user-select: none;
}
</style>
