<template>
    <span class="todo-list-item__text">
     {{todoItem.text}}
    </span>
</template>

<script>
export default {
  props: {
    todoItem: Object
  }
}
</script>

<style lang="scss" scoped>
.todo-list-item__text {
  display: inline-block;
  position: relative;
  float: left;
  top: 0.4rem;
  left: 0.25rem;
  font-size: 1rem;
  user-select: none;
}
</style>
