<template>
  <button class="todo-add-task__button"
          @click="addNewTask"
          :disabled="this.$store.state.newTask.text === ''">

    <img class="todo-add-task__button__icon"
         src="../../assets/plus-symbol.svg"
         alt="add task">
  </button>
</template>

<script>
export default {
  methods: {
    addNewTask() {
      this.$store.commit('addNewTask');
      this.$store.commit('resetNewTask');
      this.$store.commit('setNewTaskId');
    }
  }
}
</script>

<style lang="scss" scoped>
.todo-add-task__button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  background-color: #83D883;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  outline: none;
  user-select: none;

  &:disabled {
     background-color: #B3E4B3;
   }

  &:active {
     background-color: #53C653;
   }

  &__icon {
     width: 1rem;
     fill: #FFFFFF;
   }
}
</style>
