<template>
  <input class="todo-add-task__input todo-add-task__input--text"
         type="text"
         placeholder="Type Your task here!"
         v-model="taskText">
</template>

<script>
export default {
  computed: {
    taskText: {
      get() {
        return this.$store.state.newTask.text;
      },
      set(value) {
        this.$store.commit('addTaskText', value);
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.todo-add-task__input {
  display: inline-block;
  position: relative;
  bottom: 0.2rem;
  width: 12.5rem;
  height: 2rem;
  margin: 1rem 0.5rem;
  padding: 0 0 0 1rem;
  background-color: #F2F2F2;
  border: none;
  border-radius: 0.25rem;
  outline: none;

  &--text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
</style>
