<template>
  <div class="todo-add-task">
    <todo-add-task-input />
    <todo-add-task-priority />
    <todo-add-task-add-button />
  </div>
</template>

<script>
import TodoAddTaskInput from './TodoAddTaskInput.vue';
import TodoAddTaskPriority from './TodoAddTaskPriority.vue';
import TodoAddTaskAddButton from './TodoAddTaskAddButton.vue';

export default {
  components: {
    TodoAddTaskInput,
    TodoAddTaskPriority,
    TodoAddTaskAddButton
  }
};
</script>

<style lang="scss" scoped>
.todo-add-task {
  display: table;
  max-height: 2rem;
  margin: 0 auto;
}
</style>
