<template>
  <div class="todo-add-task__priority">
    <input v-for="(n, index) in priorities"
           type="radio"
           name="priority"
           class="priority-button priority-button--zero"
           v-model="taskPriority"
           :value="n.value"
           :checked="n.value === 0"
           :style="{'background-color': n.color}">
  </div>
</template>

<script>
export default {
  data() {
    return {
      priorities: this.$store.state.priorities
    }
  },
  computed: {
    taskPriority: {
      get() {
        return this.$store.state.newTask.priority
      },
      set(value) {
        this.$store.commit('addTaskPriority', value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.todo-add-task__priority {
  display: inline-block;
  position: relative;
  top: 0.5rem;
  width: 6.5rem;
  height: 2rem;
  margin: 1rem 0.5rem;
  background-color: #F2F2F2;
  border-radius: 0.25rem;

  .priority-button {
    all: unset;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
    margin: 0.5rem 0.25rem;
    outline: none;
    user-select: none;

    &:first-of-type {
      margin-left: 0.5rem;
    }

    &:last-of-type {
      margin-right: 0.5rem;
    }

    &:checked {
      box-shadow: 0 0 0 0.1rem #AAAAAA;
    }
  }
}
</style>
