<template>
  <div class="todo-app">
    <div class="todo-app__section todo-app__section--center">
      <todo-add-task />
      <todo-list />
    </div>
  </div>
</template>

<script>
import TodoAddTask from './components/TodoAddTask/TodoAddTask.vue';
import TodoList from './components/TodoTaskList/TodoList';

export default {
  components: {
    TodoList,
    TodoAddTask
  }
};
</script>

<style lang="scss">
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
</style>

<style lang="scss" scoped>
.todo-app {
  width: 100vw;
  height: 100vh;
  background-color: #DBDBDB;
}

.todo-app__section {
  width: 26rem;
  height: 30rem;
  padding: 1.5rem;
  background-color: #FFF;
  border-radius: 0.25rem;

  &--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
